«tpl ./style.html»
<div class="query-bar">
    <div>
        <select>
            <option>--- Scheme ---</option>
            <option value="">any</option>
            <option selected value="">http(s)</option>
            <option value="">ci</option>
        </select>
    </div>

    <div>
        <select>
            <option>--- Order ---</option>
            <option selected value="">newest first</option>
            <option value="">oldest first</option>
            <option value="">max waiting time first</option>
            <option value="">custom order</option>
        </select>
    </div>
</div>