<dialog id="filterDialog">
    <div class="normal-gap full-width">        
        <div class="filter-list">
            <div class="display-contents advancedFilter">«tpl ./fieldset_scheme.html»</div>
            «tpl ./fieldset_poster.html»
            «tpl ./fieldset_has_alias.html»
            «tpl ./fieldset_waiting_time.html»
            <div class="display-contents advancedFilter">«tpl ./fieldset_total_waiting_time.html»</div>
            <div class="display-contents advancedFilter">«tpl ./fieldset_max_waiting_time.html»</div>
            «tpl ./fieldset_source.html»
            <div class="display-contents advancedFilter">«tpl ./fieldset_location.html»</div>
            <div class="display-contents advancedFilter">«tpl ./fieldset_media.html»</div>
        </div>
        «tpl ./filter_buttons.html»
        «tpl ./filter_mode.html»        
    </div>
</dialog>