<dialog id="filterDialog">
    <div class="normal-gap full-width">
        <div class="filter-list">
            <div class="display-contents advancedFilter">«tpl ./fieldset_scheme.html»</div>
            <div class="display-contents advancedFilter">«tpl ./fieldset_echo_sum.html»</div>
            <div class="display-contents advancedFilter">«tpl ./fieldset_echo_max.html»</div>
            «tpl ./fieldset_source.html»
            <div class="display-contents advancedFilter">«tpl ./fieldset_location.html»</div>
            «tpl ./fieldset_media.html»
        </div>
        «tpl ./filter_buttons.html»
        «tpl ./filter_mode.html»
    </div>
</dialog>