<fieldset name="location" style="width: 100%">
    <legend>
        <label> <input type="checkbox"> Location </label>
    </legend>
    <div class="formPart display-contents">
        <div class="small-gap">
            <div>
                <select>
                    <option value=">0">at least one pattern matches</option>
                    <option value="=0">no pattern matches</option>
                </select>
            </div>
            <div>
                <textarea
                    placeholder="JS regular expressions (one per line); v flag (unicode) is enabled &#10;Example pattern for strings ending with &#39;.jpg&#39;: &#10;&#92;.jpg$"></textarea>
            </div>
        </div>
    </div>
</fieldset>