<fieldset name="media">
    <legend>
        <label><input type="checkbox"> Media</label>
    </legend>
    <div class="formPart display-contents">
        <div class="normal-gap" style="margin-top:0.5em;margin-bottom: 0.5em;">
            <div>
                <label>
                    <input type="checkbox" value="image"> image
                </label>
                <label>
                    <input type="checkbox" value="video"> video
                </label>
                <label>
                    <input type="checkbox" value="audio"> audio
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" value="trusted"> only trusted locations
                </label>
            </div>
        </div>
    </div>
</fieldset>