<fieldset name="scheme">
    <legend>
        <label> <input type="checkbox"> Scheme </label>
    </legend>
    <div class="formPart display-contents">
        <label>
            <input type="checkbox" value="http"> http(s)
        </label>
        <label>
            <input type="checkbox" value="ci"> ci
        </label>
        <label>
            <input type="checkbox" value="tag"> tag
        </label>
        <label class="display-none">
            <input type="checkbox" value="sha256"> sha256
        </label>        
    </div>
</fieldset>