:host {
    display: contents;
}

ul.sourceList {
    padding-left:0.5em;
}

ul.sourceList li {
    overflow-wrap: break-word;    
    word-break: break-all;
}

ul.sourceList {
    list-style-type: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul.sourceList > li:not(:last-child) {     
   margin-bottom: 0.5em;
}

ul.sourceList ul {
    list-style-type: none;
    columns: 2;
    padding-bottom:0.5em;
}

/* sfc-tabs::part(pages) {
    margin-top: 2em;
} */

.formPart textarea {
    width: calc(100% - 1em);
    height: 3lh;
}

.filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

/* .filter-list fieldset {
    display: block;
} */